@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

:root {
  /* Colors */
  --color-gray-dark: #030712;
  --color-gray-light: #1f2937;
  --color-yellow: #eab308;
  --color-light: #f3f4f6;
  --color-cyan: #27909f;
}

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background: var(--color-gray-light);
  color: var(--color-light);
  padding: 1%;
}
.wrapper {
  background: var(--color-gray-dark);
  min-height: 100vh;
  border-radius: 20px;
  overflow: hidden;
}
.container {
  max-width: 95vw;
  margin: 0 auto;
}
.italic {
  font-family: "Playfair", serif;
  font-style: italic;
}
h2 {
  font-size: 6.8vw;
}
hr {
  width: 100%;
  background: var(--color-light);
  height: 0.1rem;
}
.highlight {
  background: var(--color-yellow);
  color: var(--color-gray-dark);
  border: 1px solid var(--color-gray-dark);
  padding: 0.1vw;
}

/* Header style */
.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}
.header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.header .row:nth-child(3) {
  margin-bottom: 7.5vw;
}
.header .row:nth-child(3) span,
.header .row a {
  font-size: 1.2vw;
  color: var(--color-light);
  text-transform: uppercase;
  font-weight: 500;
}
.header .row:nth-child(7) {
  justify-content: center;
}
.header .box {
  height: 8vw;
  width: 14vw;
  border-radius: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header .box.about {
  background: var(--color-light);
  color: var(--color-gray-dark);
}
.header .box.projects {
  background: var(--color-yellow);
}
.header .box.skills {
  background: var(--color-cyan);
}
.header .box span:nth-child(2) {
  font-size: 2.5vw;
}
/* Custom Cursor */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 20px;
  height: 20px;
  background-color: #ff0000;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
.custom-cursor--inner {
  width: 10px;
  height: 10px;
  background-color: var(--color-light);
  opacity: 0.7;
  mix-blend-mode: difference;
}
.custom-cursor--outer {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid #ff0000;
  mix-blend-mode: difference;
}

@media (max-width: 1024px) {
  .custom-cursor,
  .custom-cursor--inner,
  .custom-cursor--outer {
    display: none;
  }
}
/* Marquee */
.marque-scroll {
  background: var(--color-light);
  display: flex;
  align-items: center;
  gap: 3rem;
}
.marque {
  color: var(--color-gray-dark);
  padding: 2rem 0;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 2rem;
  transform: translateX(-100%);
}
.marque-text {
  font-size: 4vw;
  font-family: "Cabin", "sans-serif";
  text-transform: uppercase;
}

/* Project Section */
.projects-section {
  margin-top: 2.5vw;
  position: relative;
}
.project-list-wrapper {
  display: flex;
  flex-direction: column;
  background: var(--color-yellow);
  color: var(--color-gray-light);
  padding: 2vw 1vw;
}
.project-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.project-item {
  margin-top: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: end;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}
.project-item:hover .project-titles h2 {
  color: var(--color-light);
  font-style: italic;
}
.project-item .multiple-h2 {
  display: none;
}
.project-item:hover .single-h2,
.project-item:hover .project-details {
  display: none;
}
.project-item:hover .multiple-h2 {
  display: block;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
.hover-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 8vw;
  height: 8vw;
  border-radius: 1vw;
  background-size: cover;
  background-position: center;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  z-index: 10;
}
.project-titles {
  display: flex;
  align-items: start;
  gap: 1rem;
}
.project-titles span,
.project-details span {
  font-size: 1.2vw;
}
.project-details {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 0.5vw;
  overflow: hidden;
}
/* About section */
.about-section {
  margin-top: 2.5vw;
}
.about-text {
  margin-top: 2vw;
  margin-bottom: 2vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.about-text p {
  font-size: 2vw;
}
/* Skill Section */
.skills-section {
}

.skills-container {
  display: flex;
  justify-content: space-between;
  gap: 4vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.skills-left,
.skills-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 3vw;
}

.skill-item {
  margin-bottom: 15px;
}

.skill-title {
  display: block;
  margin-bottom: 5px;
  font-size: 2vw;
  color: var(--color-light);
}

.progress-bar {
  position: relative;
  height: 2px;
  background-color: var(--color-light);
  overflow: hidden;
}

.progress-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background-color: var(--color-yellow);
}
/* Footer */
.footer {
  background: var(--color-yellow);
  text-align: center;
  padding: 4vw 0;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.footer-content span {
  font-size: 3vw;
  color: var(--color-gray-dark);
  font-weight: 500;
  text-transform: uppercase;
}
.social span a {
  display: inline-block;
  color: var(--color-gray-light);
  font-size: 3vw;
  transition: 0.3s;
}
.social span a:hover {
  transform: rotate(180deg) scale(2);
}
.social span:nth-child(2) {
  margin: 0 2vw;
}
.footer p {
  font-size: 1.8vw;
  color: var(--color-gray-dark);
}
